* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh;
}
.container {
  background-color: white;
  height: 80vh;
  width: 40vw;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

